/**/CMakeLists.txt.user*
/src/CMakeLists.txt.user
/CMakeLists.txt.user
/tools/GreenFunction/src/CMakeLists.txt.user
/tools/build-PoissonReconstruct-qt5-Release
/tools/GreenFunction/build*
/build*
/.vscode


